
*{
  
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: normal;
    
  
}
.navbar{
  background-color: #173B45;
}
.container-fluid{
  background-color: #173B45;
}
.navbar2{
 background-color:  #173B45;
}

.icon-square .bi{

  width: auto;
  height: auto;
  border-radius: 30px;
  font-size: 1em;
  padding: 1px;
}

.img-proyecto1{
  background-image: url('/assets/clon-pinterest.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.img-proyecto2{
  background-image: url('/assets/clon-pinterest.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.img-proyecto3{
  background-image: url('/assets/clon-pinterest.png');
  background-size: contain;
  background-repeat: no-repeat;
}